---
import { Icon } from 'astro-icon';

import {
  Description,
  Item,
  SocialButtons,
  Title,
  Wrapper,
} from '../../components/southeastAsia';
---

<Wrapper>
  <Title>
    Mohon maaf Anda belum dapat melanjutkan pendaftaran{' '}
    <Icon name="smileWithTear" />
  </Title>
  <Description>
    <Item>
      Untuk mengikuti kelas uji coba dibutuhkan
      laptop/komputer untuk belajar. Kami harap bisa bertemu
      Anda di lain waktuNamun Anda dapat mengikuti jejaring
      sosial kami, ada banyak informasi bermanfaat untuk orang
      tua Indonesia
    </Item>
  </Description>
  <SocialButtons />
</Wrapper>

<style>
  [astro-icon="smileWithTear"] {
    width: 7%;
    height: 7%;
  }
</style>
