<div><slot /></div>

<style>
  div {
    margin: 0px;
    color: rgb(15, 28, 44);
    font-size: 18px;
    line-height: 24px;

    @media (min-width: 1200px) {
      padding-bottom: 8px;
    }
  }
</style>
