---
import Button from '../button';
import Steps from './steps';
---

<div>
  <Button id="button" style="width: 341px" size="large">Mulai</Button>
  <div id="popup" class="popup-backdrop">
    <div class="popup-wrapper">
      <div class="popup-content">
        <Steps client:only="react" />
      </div>
    </div>
  </div>
</div>

<script>
  const button = document.getElementById('button');
  const popup = document.getElementById('popup');

  button.addEventListener('click', () => {
    popup.classList.add('is-visible');
  });

  popup.addEventListener('click', (event) => {
    if (event.target === event.currentTarget) {
      popup.classList.remove('is-visible');
    }
  });
</script> 

<style>
  .popup-backdrop {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    left: 0px;
    opacity: 0;
    overflow: hidden scroll;
    padding: 32px 64px;
    place-content: center;
    position: fixed;
    top: 0px;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.7, 1) 0s;
    width: 100%;
    z-index: 6000;
  }

  .popup-backdrop.is-visible {
    display: flex;
    opacity: 1; 
  }

  .popup-wrapper {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 28px -8px;
    display: flex;
    flex-direction: column;
    margin: auto;
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.7, 1) 0s; 
    z-index: 6000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 12px 12px 0 0;

    @media (min-width: 75em) {
      border-radius: 12px;
      position: relative;
      width: max-content;
      padding: 28px 28px 32px;
    }
  }

  .popup-content {
    padding: 16px 16px 32px;

    @media (min-width: 75em) {
      padding: 0;
    }
  }
</style>
